<footer class="footer">
    <div class="container footer-text-container">
        <div class="footer-nav-social-menu">
            <nav class="footer-nav">
                <a href="index.html" class="footer-logo">
                    <svg class="footer-logo-icon">
                        <use href="../img/sprite.svg#icon-alternate-false"></use>
										</svg>
                </a>
                <div class="footer-menu">
                    <ul class="footer-menu-list">
                        <li><a href="#about-us" class="footer-menu-link">Про нас</a></li>
                        <li><a href="#products" class="footer-menu-link">Знайти друга</a></li>
                        <li><a href="#faq" class="footer-menu-link">Часті запитання</a></li>
                        <li><a href="#testimonial" class="footer-menu-link">Історії успіху</a></li>
										</ul>
                </div>

            </nav>
            <div class="footer-social-links">
                <ul class="footer-social-links-list"></ul>
            </div>
        </div>
        <div class="footer-copyright-container">
        <p class="footer-copyright">&copy; 2025 Хатинка лапок. Всі права захищені.</p>
    </div>
    </div>
</footer>
