<section class="gallery">
  <div class="container">
    <h2 class="galleryTitle">Чому Хатинка Лапок</h2>
    <div class="swiper gallerySwiper">
      <div class="swiper-wrapper galleryWrapper">
        <!-- Slides -->
        <div class="swiper-slide gallerySlide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/gallery/slide-1-desk-min.jpg    1x,
                ../img/gallery/slide-1-desk@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/gallery/slide-1-tab-min.jpg    1x,
                ../img/gallery/slide-1-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/gallery/slide-1-mob-min.jpg    1x,
                ../img/gallery/slide-1-mob@2x-min.jpg 2x
              "
            />
            <img
              src="../img/gallery/slide-1-desk-min.jpg"
              alt="Людина сидить поруч із безпритульним собакою, демонструючи турботу та довіру"
              width="1312"
              height="753"
              loading="lazy"
            />
          </picture>
          <p class="p-overlay">
            Все почалося у 2015 році з кількох небайдужих людей та одного
            врятованого собаки. Сьогодні ми — один з найбільших притулків у
            регіоні, але наша мета незмінна: дати другий шанс тим, кого зрадили.
          </p>
        </div>

        <div class="swiper-slide gallerySlide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/gallery/slide-2-desk-min.jpg    1x,
                ../img/gallery/slide-2-desk@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/gallery/slide-2-tab-min.jpg    1x,
                ../img/gallery/slide-2-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/gallery/slide-2-mob-min.jpg    1x,
                ../img/gallery/slide-2-mob@2x-min.jpg 2x
              "
            />
            <img
              src="../img/gallery/slide-2-desk-min.jpg"
              alt="Врятована собака з притулку Хатинка Лапок дивиться в камеру"
              width="1312"
              height="753"
              loading="lazy"
            />
          </picture>
          <p class="p-overlay">
            Ми рятуємо, реабілітуємо та знаходимо люблячі родини для
            безпритульних тварин. Наша мета — не просто дати прихисток, а й
            забезпечити кожному "хвостику" щасливе та повноцінне життя в новій
            родині.
          </p>
        </div>

        <div class="swiper-slide gallerySlide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/gallery/slide-3-desk-min.jpg    1x,
                ../img/gallery/slide-3-desk@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/gallery/slide-3-tab-min.jpg    1x,
                ../img/gallery/slide-3-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/gallery/slide-3-mob-min.jpg    1x,
                ../img/gallery/slide-3-mob@2x-min.jpg 2x
              "
            />
            <img
              src="../img/gallery/slide-3-desk-min.jpg"
              alt="Команда волонтерів притулку Хатинка Лапок разом із врятованими тваринами"
              width="1312"
              height="753"
              loading="lazy"
            />
          </picture>
          <p class="p-overlay">
            "Хатинка Лапок" — це команда професійних ветеринарів, кінологів та
            десятків волонтерів, які щодня вкладають свою душу та час у турботу
            про наших підопічних. Ми працюємо 24/7, бо їхнє життя залежить від
            нас.
          </p>
        </div>
        <div class="swiper-slide gallerySlide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/gallery/slide-4-desk-min.jpg    1x,
                ../img/gallery/slide-4-desk@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/gallery/slide-4-tab-min.jpg    1x,
                ../img/gallery/slide-4-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/gallery/slide-4-mob-min.jpg    1x,
                ../img/gallery/slide-4-mob@2x-min.jpg 2x
              "
            />
            <img
              src="../img/gallery/slide-4-desk-min.jpg"
              alt="Територія притулку Хатинка Лапок з будівлями та вигульними зонами для тварин"
              width="1312"
              height="753"
              loading="lazy"
            />
          </picture>
          <p class="p-overlay">
            Ми створили безпечний та комфортний простір. Кожна тварина отримує
            якісне харчування, своєчасну ветеринарну допомогу, проходить
            соціалізацію та гуляє на спеціально обладнаних майданчиках.
          </p>
        </div>
        <div class="swiper-slide gallerySlide">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ../img/gallery/slide-5-desk-min.jpg    1x,
                ../img/gallery/slide-5-desk@2x-min.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../img/gallery/slide-5-tab-min.jpg    1x,
                ../img/gallery/slide-5-tab@2x-min.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../img/gallery/slide-5-mob-min.jpg    1x,
                ../img/gallery/slide-5-mob@2x-min.jpg 2x
              "
            />
            <img
              src="../img/gallery/slide-5-desk-min.jpg"
              alt="Людина ніжно обіймає собаку з притулку, символ любові та безпеки"
              width="1312"
              height="753"
              loading="lazy"
            />
          </picture>
          <p class="p-overlay">
            Ваша допомога — безцінна. Ви можете взяти тваринку додому, стати
            волонтером, допомогти фінансово або інформаційно. Кожен маленький
            внесок наближає нас до великої мети — світу без безпритульних
            тварин.
          </p>
        </div>
      </div>

      <div class="swiper-pagination galleryPagination"></div>

      <button
        class="swiper-button-prev galleryBtn"
        type="button"
        aria-label="previous"
      >
        <svg
          class="gallery-btn__icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="../img/sprite.svg#icon-arrow_back"></use>
        </svg>
      </button>

      <button
        class="swiper-button-next galleryBtn"
        type="button"
        aria-label="next"
      >
        <svg
          class="gallery-btn__icon"
          width="24"
          height="24"
          aria-hidden="true"
        >
          <use href="../img/sprite.svg#icon-arrow_forward"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<script type="module" src="/main.js"></script>
