<!-- header section -->

<header class="header header__top">
  <div class="header__container container">
    <a href="#top" class="header__link-logo">
			<!-- <svg class="header-logo">
					<use href="../img/sprite.svg#icon-alternate-false"></use>
			</svg> -->
      <!-- <img id="header-logo" src="../img/header/logo.webp" alt="Хатинка лапок" /> -->
    </a>
    <div class="header__desktop-container">
      <nav class="header__nav" aria-label="Головна навігація">
        <a class="nav-item" href="#products">Знайди друга</a>
        <a class="nav-item" href="#about">Про нас</a>
        <a class="nav-item" href="#faq">Часті запитання</a>
        <a class="nav-item" href="#testimonial">Історії успіху</a>
      </nav>

      <a href="#order" class="header__button button__black-default"
        >Взяти друга</a
      >
    </div>

    <button
      class="header__burger"
      aria-label="Відкрити меню"
      aria-expanded="false"
      aria-controls="mobile-menu"
      type="button"
    >
      <span class="header__burger-lines" aria-hidden="true"></span>
    </button>
  </div>
</header>
<!-- mobile menu -->
<div class="modal-menu" id="mobile-menu">
  <div class="modal-menu__container container">
    <nav class="modal-menu__nav" aria-label="Головна навігація">
      <a class="nav-item" href="#products">Знайди друга</a>
      <a class="nav-item" href="#about">Про нас</a>
      <a class="nav-item" href="#faq">Часті запитання</a>
      <a class="nav-item" href="#testimonial">Історії успіху</a>
    </nav>

    <a href="#order" class="modal-menu__button button__black-default"
      >Взяти друга</a
    >
  </div>
</div>
