<section class="section products">
	<div class="container products-container">
		<div class="products-thumb">
			<h2 class="products-title">Наші хвостики</h2>
			<p class="products-text">Вони дуже чекають на знайомство з вами</p>
		</div>

		<ul class="categories-list"></ul>

		<ul class="products-list"></ul>

		<button class="products-load-more js-products-load-more hidden" type="button">
			Показати більше
		</button>
		<span class="loader hidden js-product-loader"></span>

	</div>
	

</section>