<section class="section testimonial">
	<div class="container">
      <div class="testimonial__title">
		<h2 h2 class="testimonial__head">Щасливі історії, що надихають</h2>
		<p class="testimonial__text">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>
	  </div>
      <div class="testimonial__star">
		<ul class="testimonial__stars-list">
		<li class="testimonial__stars__item" data-value="1"><svg class="star"><use href="#icon-star-outline"></use></svg></li>
		<li class="testimonial__stars__item" data-value="2"><svg class="star"><use href="#icon-star-outline"></use></svg></li>
		<li class="testimonial__stars__item" data-value="3"><svg class="star"><use href="#icon-star-outline"></use></svg></li>
		<li class="testimonial__stars__item" data-value="4"><svg class="star"><use href="#icon-star-outline"></use></svg></li>
		<li class="testimonial__stars__item" data-value="5"><svg class="star"><use href="#icon-star-outline"></use></svg></li>
	    </ul>
         <p class="testimonial__quote">Ми довго вагалися...</p>
         <div class="testimonial__author">Марина та Сергій</div>
		 <div class="testimonial__slider">	
		</div>
	  </div>
	  <!-- swiper -->
	  <div class="testimonial__swiper mySwiper">
      <div class="swiper-wrapper">
      <div class="testimonial__swiper-slide" data-quote="Ми довго вагалися..." data-author="Марина та Сергій">Slide 1</div>
      <div class="testimonial__swiper-slide" data-quote="Наша улюблениця прийшла швидко!" data-author="Олександр">Slide 2</div>
      <div class="testimonial__swiper-slide" data-quote="Вона стала частиною родини!" data-author="Ірина">Slide 3</div>
      <div class="testimonial__swiper-slide" data-quote="Дякуємо за чудового друга!" data-author="Сергій">Slide 4</div>
      <div class="testimonial__swiper-slide" data-quote="Ми неймовірно щасливі!" data-author="Марія">Slide 5</div>
      </div>

       <ul class="testimonial__swiper-pagination">
       <li class="testimonial__dot testimonial__dot--active"></li>
       <li class="testimonial__dot"></li>
       <li class="testimonial__dot"></li>
       <li class="testimonial__dot"></li>
       <li class="testimonial__dot"></li>
       </ul>

       <button class="testimonial__swiper-button-prev">
       <svg id="icon-arrow_back" viewBox="0 0 24 24"><polyline points="15,4 7,12 15,20" stroke="#000" stroke-width="2" fill="none"/></svg>
       </button>
       <button class="testimonial__swiper-button-next">
       <svg id="icon-arrow_forward" viewBox="0 0 24 24"><polyline points="9,4 17,12 9,20" stroke="#000" stroke-width="2" fill="none"/></svg>
       </button>
       </div>
	</div>
</section>


