<section class="section testimonial">
	<div class="container">
    <div class="testimonial-title">
		  <h2 h2 class="testimonial-head">Щасливі історії, що надихають</h2>
		  <p class="testimonial-text">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>
	  </div>

    <div class="testimonials-star">
     <div class="swiper">
     <div class="swiper-wrapper"></div>
     <div class="swiper-button-prev"></div>
     <div class="swiper-button-next"></div>
     <div class="swiper-pagination"></div>
     </div>
    </div> 
	</div>
</section>


