<section class="section testimonial">
	<div class="container">
    <div class="testimonial-title">
		  <h2 class="testimonial-head">Щасливі історії, <br class="desktop-br">що надихають</h2>
		  <p class="testimonial-text">Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас</p>
	  </div>
    <div class="swiper">
     <div class="swiper-wrapper"></div>
     <div class="swiper-controls">
      <div class="swiper-pagination"></div>
       <div class="swiper-navigation-buttons">
        <div class="swiper-button-prev">
         <svg class="icon-back"><use href="../img/sprite.svg#icon-arrow_back"></use></svg>
        </div>
        <div class="swiper-button-next">
         <svg class="icon-forward"><use href="../img/sprite.svg#icon-arrow_forward"></use></svg>
        </div>
       </div>
     </div>
    </div>
	</div>
</section>


