.backdrop {
	position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 64px 20px;
	z-index: 999;
	overflow: auto;
	
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.not-scroll{
    overflow: hidden;
}

body.modal-open {
  overflow: hidden;
}

.adopt-modal {
  position: relative;
  width: 100%;
  max-width: 375px;
  background-color: #f5f3f0;
  border-radius: 8px;
  padding: 64px 20px;

	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);

	font-family: "IBM Plex Sans", sans-serif;
	color: #02060a;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adopt-modal-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.adopt-modal-svg {
  width: 24px;
  height: 24px;
  stroke: currentColor;
}

.adopt-modal-title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 42px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 32px;
}

.adopt-modal-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.adopt-modal-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.adopt-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #02060a;
}

.form-name {
  width: 100%;
  height: 37px;
  padding: 8px 12px;
  border-radius: 12px;
  border: none;
  background: rgba(2, 6, 10, 0.05);
}

.adopt-textarea {
  width: 100%;
  height: 180px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: rgba(2, 6, 10, 0.05);
}

.submit-adopt {
  margin: 0 auto;
  width: 100%;
  height: 45px;
  border-radius: 8px;
  background-color: #88765c;
  border: 1px solid #88765c;
  cursor: pointer;
}

.submit-adopt:hover {
  background: #eee9e3;
}

.submit-adopt:focus {
  background: #c3b49d;
  outline: none;
}

.text-submit-adopt {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
  text-align: center;
  line-height: 150%;
}

@media screen and (min-width: 768px) {
  .backdrop {
    padding: 64px 32px;
  }

  .adopt-modal {
    max-width: 704px;
    padding: 64px 32px;
  }

  .adopt-modal-title {
    font-size: 36px;
  }

  .adopt-modal-form label {
    font-size: 16px;
  }

  .submit-adopt {
    max-width: 240px;
    height: 45px;
  }

  .text-submit-adopt {
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .adopt-modal {
    max-width: 805px;
  }

  .adopt-modal-title {
    font-size: 48px;
  }

  .form-name {
    height: 40px;
  }
  .adopt-textarea {
    width: 100%;
    height: 180px;
  }
  .submit-adopt {
    width: 240px;
    height: 48px;
  }
}
