/* Styles for Mobile devices */
.container {
  min-width: 335px;
  max-width: 385px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 704px) {
  .container {
    max-width: 704px;
  	padding: 0 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1312px) {
  .container {
    max-width: 1312px;
  	padding: 0 80px;
  }
}


