.faq-title {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;
    margin-bottom: 80px; 
}

#faq {
    background-color: #f6f4f1;
    margin: 0 auto;
}

#faq .ac {
    background-color: #eee9e3;
    border-radius: 8px;
    margin: 0;
}

#faq .ac-text {
    padding: 0;
}

#faq .ac-trigger {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
}

#faq .ac-panel {
    margin-left: 24px;
    margin-right: 24px;
} 

#faq .custom-p {
    margin-bottom: 24px;
}

.accordion {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.icon-wrap {
    display: flex;
    gap: 24px;
    flex-shrink: 0;
}

.ol-list {
    padding: 0px 24px 24px;
}

.btn-p {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    color: #02060a;
    margin: 0;
    padding: 20px 24px;
    flex: 1;
    text-align: left;
}

.icon-wrap {
    display: flex;
    gap: 24px;
    padding-right: 24px;
    flex-shrink: 0;
}

.icon {
    width: 24px;
    height: 24px;
}

.icon,
.icon-plus {
    position: absolute;
    right: 21.5px;
    top: 50%;
    transform: translateY(-50%);
}

.ac-panel .custom-list {
    list-style: disc;
    padding-left: 24px;
    margin-bottom: 24px;
}

.ac-panel .custom-list li {
    display: list-item;
    margin-bottom: 8px;
}

.ac .ac-trigger::after {
    display: none;
}

.icon-close {
    display: none;
}

.ac.is-active .icon-plus {
    display: none;
}

.ac.is-active .icon-close {
    display: inline-block;
}

@media screen and (min-width: 1440px) {
    .faq-title {
        font-size: 48px;
    }

    .btn-p {
        font-size: 18px;
    }
}
