.footer {
    background-color: #c3b49d;
    padding: 48px 20px;
    background-size: cover;
}

.footer-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        width: 100%;
} 

.footer-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
      margin-bottom: 32px;
}

.footer-logo {
    width: 302px;
    height: 129px;
    display: block;
}

.footer-menu {}

.footer-menu-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.footer-menu-link {
        font-family: "IBM Plex Sans", sans-serif;
        font-weight: 600;
        font-size: 12px;
            /* line-height: 21px; */
        line-height: 150%;
        color: #02060a;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-links {
    margin-bottom: 80px;
}

.footer-social-links-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: center;
    align-items: center;
   }

.footer-social-links-list-item {}

.footer-social-icon {
    display: flex;
    width: 32px;
    height: 32px;
    justify-content: center;
    align-items: center;
    transition: opacity 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon-unit {
    width: 32px;
    height: 32px;
}

.footer-copyright-container::before {
    content: "";
    display: block;
      border: 1px solid rgba(2, 6, 10, 0.15);
        width: 335px;
        height: 0px;
        margin-bottom: 32px;
}


.footer-copyright {
    font-family: "IBM Plex Sans", sans-serif;
        font-weight: 400;
        font-size: 12px;
        /* line-height: 21px; */
        line-height: 150%;
        color: #02060a;
       display: block;
       text-align: center;
}

.footer-menu-link:hover,
.footer-menu-link:focus,
.footer-social-icon:hover,
.footer-social-icon:focus {
    opacity: 0.5;
    border-bottom: 1px solid #443b2e;
}

@media only screen and (min-width: 768px) {

    .footer {
        padding: 48px 0;
    }

    .footer-text-container {
               margin-bottom: 0;
    }

   
    .footer-menu-list {
        flex-direction: row;
        margin-left: 112px;
        margin-right: 112px;
    }

       
    .footer-copyright-container::before {
        width: 704px;
    }

    
}

@media only screen and (min-width: 1440px) {
    .footer {
        padding: 64px 0;
    }

        .footer-menu-link {
            font-size: 14px;
         }

                 .footer-copyright {
                                      font-size: 14px;
                        }
          
    .footer-copyright-container::before {
        width: 1312px;
    }

}