.gallery {
  padding: 64px 0;
  background-color: #f6f4f1;
}

.galleryTitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  margin-bottom: 40px;
}

.gallerySlide {
  position: relative;
}

.gallerySlide img {
  width: 100%;
  height: auto;
  display: block;
}

.p-overlay {
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: calc(100% - 40px);
  max-width: 375px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f6f4f1;
}
.galleryPagination,
.gallerySwiper .swiper-button-prev,
.gallerySwiper .swiper-button-next {
  display: none;
}

.gallerySwiper .swiper-button-next::after,
.gallerySwiper .swiper-button-prev::after {
  content: none;
}

.galleryBtn .gallery-btn__icon {
  width: 24px;
  height: 24px;
  display: block;
  stroke: #02060a;
}

.galleryBtn:hover,
.galleryBtn:focus-visible {
  border-color: rgba(2, 6, 10, 0.6);
}
.galleryBtn:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #eee9e3;
}
.gallerySwiper .swiper-button-disabled {
  opacity: 0.4;
  border: 1px solid #f6f4f1;
  cursor: not-allowed;
  pointer-events: none;
}

.gallerySwiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #02060a;
  opacity: 0.2;
}

.gallerySwiper .swiper-pagination-bullet-active {
  opacity: 1;
}

@media (min-width: 768px) {
  .gallery {
    padding: 64px 0;
  }
  .p-overlay {
    left: 32px;
    transform: none;
    bottom: 32px;
    width: calc(100% - 64px);
    max-width: 548px;
  }

  .galleryBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c3b49d;
    transition: border-color 0.2s ease;
    border-radius: 8px;
    width: 48px;
    height: 48px;
    background-color: #eee9e3;
  }
  .gallerySwiper .swiper-button-prev,
  .gallerySwiper .swiper-button-next {
    display: flex;
  }

  .galleryPagination {
    display: block;
  }

  .gallerySwiper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .gallerySwiper .swiper-wrapper {
    order: 1;
  }

  .gallerySwiper .swiper-pagination {
    position: static;
    order: 2;
    margin-top: 24px;
  }
}

@media (min-width: 1440px) {
  .gallery {
    padding: 80px 0;
  }
  .galleryTitle {
    font-size: 48px;
  }
  .p-overlay {
    font-size: 18px;
  }

  .gallerySwiper .swiper-pagination {
    margin-top: 48px;
  }
}
