.hero-container {
  padding-left: 20px;
  padding-top: 64px;
  padding-bottom: 116px;
  background-image: linear-gradient(
      to right,
      rgba(62, 54, 38, 0.74) 0%,
      rgba(62, 54, 38, 0) 100%
    ),
    image-set(
      url('../img/hero/hero-background-mobile-min.jpg') 1x,
      url('../img/hero/hero-background-mobile@2x-min.jpg') 2x
    );
  background-repeat: no-repeat, no-repeat;
  background-position: left top, center;
  background-size: cover, cover;
}

.hero-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  max-width: 335px;
}

.hero-descr {
  font-family: 'IBM Plex Sans', sans-serif;
  margin-top: 24px;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  max-width: 335px;
}

.hero-button {
  display: inline-block;
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 12px 24px;

  background: #88765c;
  font-weight: 400;
  font-size: 14px;
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5;
  color: #fff;
}

.hero-button:hover {
  background-color: #eee9e3;

  border: 1px solid #88765c;
  color: #02060a;
}

.hero-button:active {
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
    inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
}

@media only screen and (min-width: 768px) {
  .hero-container {
    padding-top: 64px;
    padding-bottom: 234px;
    padding-left: 32px;
    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      image-set(
        url('../img/hero/hero-background-tablet-min.jpg') 1x,
        url('../img/hero/hero-background-tablet@2x-min.jpg') 2x
      );
  }

  .hero-title {
    max-width: 622px;
  }

  .hero-descr {
    max-width: 512px;
    margin-top: 24px;
    margin-bottom: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .hero-container {
    padding-top: 128px;
    padding-bottom: 412px;
    padding-left: 64px;
    padding-right: 64px;

    background-image: linear-gradient(
        to right,
        rgba(62, 54, 38, 0.74) 0%,
        rgba(62, 54, 38, 0) 100%
      ),
      image-set(
        url('../img/hero/hero-background-desk-min.jpg') 1x,
        url('../img/hero/hero-background-desk@2x-min.jpg') 2x
      );
  }
  .hero-title {
    font-size: 56px;
  }

  .hero-descr {
    font-size: 18px;
  }
  .hero-button {
    font-size: 16px;
  }
}