.animal-detail-backdrop {
	position: fixed;
  inset: 0;
	display: flex;
	/* justify-content: center; */
	align-items: flex-start;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.25);
	z-index: 999;

	padding: 64px 0;

	opacity: 0;
	pointer-events: none;
	overflow: auto;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
	opacity: 1;
	pointer-events: auto;
}

.not-scroll{
    overflow: hidden;
}

/* @media (min-width: 768px){
    .animal-detail-backdrop{
        align-items: center;
    }
} */

.animal-detail-modal {
	position: relative;
	left: 50%;
	transform: translateX(-50%);

	display: flex;
	flex-direction: column;
	gap: 32px;

	padding: 64px 20px;
	
	width: 335px;
	
	border-radius: 8px;
	background: #f6f4f1;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);

	font-family: "IBM Plex Sans", sans-serif;
	color: #02060a;

	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .animal-detail-modal {
		flex-direction: row;
		width: 704px;
		height: 685px;
    padding: 64px 32px;
  }
}

@media (min-width: 1440px) {
  .animal-detail-modal {
    width: 1312px;
		height: 650px;
    padding: 64px 64px;
  }
}


.animal-detail-close-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	top: 16px;
	right: 16px;
	padding: 0;

	border: none;
	background: transparent;
}

/* .animal-detail-picture-wrap {} */

.animal-detail-picture {
	object-fit: cover;
	border-radius: 8px;
}

@media (min-width: 768px) {
	.animal-detail-picture {
		height: 450px;
	}
}

@media (min-width: 768px) {
	.animal-detail-picture, .animal-detail-info-wrap {
		width: 304px;
	}
}

@media (min-width: 1440px) {
	.animal-detail-picture, .animal-detail-info-wrap {
		width: 576px;
	}
}

.animal-detail-info-wrap {
	display: flex;
	flex-direction: column;
	gap: 24px
}

.animal-detail-animal-preview {
	display: flex;
	flex-direction: column;
	gap: 8px
}

.animal-detail-animal, .animal-detail-descript-item {
	font-size: 12px;
}

.animal-detail-headline {
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	font-size: 32px;
	line-height: 1.2;
	letter-spacing: -0.01em;
}

.animal-detail-short-info {
	display: flex;
	gap: 16px;
}

.animal-detail-info {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.animal-detail-info-item {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.animal-detail-info-span {
	font-weight: 600;
	color: #02060a;
}

.animal-detail-get-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 45px;

	border: 1px solid #88765c;
	background: #88765c;
	border-radius: 8px;
	padding: 12px 24px;

	color: #fff;
}

.animal-detail-get-btn:hover, 
.animal-detail-get-btn:focus {
	background: #eee9e3;
	color: #02060a;
}

.animal-detail-get-btn:active {
	box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
	background: #eee9e3;
}


/* button replacing */
@media (min-width: 768px) and (max-width: 1440px) {
	.animal-detail-animal-preview {
		order: 1
  }

	.animal-detail-info {
		order: 3
  }

  .animal-detail-get-btn {
		order: 2
  }
}