/* Рейтинги */
.rating {
  display: flex;
  gap: 4px;
}
.star-icon {
  width: 24px;
  height: 24px;
}
.star-icon svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: #02060a;
  stroke-width: 1.5px;
}
/* Повна зірка */
.star-icon.filled svg {
  fill: #02060a;
}
/* Половинка зірки */
.star-icon.half svg {
  fill: none;
}
/* Порожня зірка */
.star-icon svg use[href*="icon-star-outline"] {
  fill: #fff;
}
/* Загальна структура секції */
.testimonial-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
.testimonial-head {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  margin: 0;
}
.desktop-br {
  display: none;
}
.testimonial-text {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #02060a;
  margin: 0;
}
.testimonial-card {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 40px;
}
.testimonial-quote {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #02060a;
  margin: 0;
}
.testimonial-author {
  display: flex;
  flex-direction: column;
  gap: 0;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #02060a;
  margin: 0;
}
/* Swiper */
.testimonials-swiper {
  position: relative;
  width: 100%;
}
.testimonials-wrapper {
  display: flex;
  width: 100%;
}
.swiper-controls {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.swiper-controls .testimonials-pagination {
  position: static;
  align-items: center;
  display: flex;
  flex-direction: row;
  bottom: auto;
  gap: 8px;
  padding: 20px 0px;
}
.swiper-controls .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  opacity: 1!important;
  background-color: #d0d4d9 !important;
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.9s ease, background-color 0.5s ease;
}
.swiper-controls .swiper-pagination-bullet-active {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  opacity: 1;
  background-color: #02060a !important;
  transform: scale(1.2);
}
.swiper-controls .swiper-pagination-bullet-active-prev,
.swiper-controls .swiper-pagination-bullet-active-next{
  width: 8px;
  height: 8px;
  border-radius: 100%;
  transform: scale(1.2);
  opacity: 0.8;
}
/* Кнопки навігації */
.swiper-controls .testimonial-navigation-buttons{
  display: flex;
  gap: 16px;
  position: relative;
  min-width: 112px;
  height: 48px;
  align-items: center;
  justify-content: center;
}
.js-testimonials-next,
.js-testimonials-prev {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid #c3b49d;
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background-color: #eee9e3;
  transition: color 0.3s ease, opacity 0.3s ease, transform 0.2s ease;
  outline: none;
  cursor: pointer;
}
.js-testimonials-next:hover,
.js-testimonials-next:focus,
.js-testimonials-prev:hover,
.js-testimonials-prev:focus {
  border: 1px solid rgba(2, 6, 10, 0.6);
  cursor: pointer;
}
.swiper-controls .js-testimonials-next:active,
.swiper-controls .js-testimonials-prev:active {
  border: 1px solid rgba(2, 6, 10, 0.6);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03),
  inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #eee9e3;
  cursor: pointer;
}
.js-testimonials-prev.swiper-button-isNotActive,
.js-testimonials-next.swiper-button-isNotActive {
  cursor: default;        
  opacity: 0.3;           
  pointer-events: none;   
}


.js-testimonials-prev:hover:not(.swiper-button-isNotActive),
.js-testimonials-next:hover:not(.swiper-button-isNotActive) {
  opacity: 0.8;
}
.swiper-controls .icon-back,
.swiper-controls .icon-forward {
  width: 24px;
  height: 24px;
  stroke: #02060a;
  stroke-width: 2px;
  transform-origin: center;
  fill: none;
  pointer-events: none;
}
/* Tablet */
@media screen and (min-width: 768px) {
  .testimonial-title,
  .testimonials-swiper {
    width: 100%;
  }
  .desktop-br {
    display: none;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .testimonial-title,
  .testimonials-swiper {
    width: 100%;
  }
  .testimonial-head {
    font-size: 48px;
    line-height: 1.2;
  }
  .testimonial-text {
    font-size: 18px;
  }
  .desktop-br {
    display: inline;
    line-height: 1.2;
  }
}
