
/*Styles for Mobile devices */
@media screen and (max-width: 374px) {
.testimonial-title{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
margin-bottom: 40px;
}
/*ready*/
.testimonial-head{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
text-align: center;
color: #02060a;
}
/*ready*/
.testimonial-text{
font-family: "IBM Plex Sans", sans-serif;
line-height: 1.5;
text-align: center;
color: #02060a;
}
/*ready*/
.testimonial-star{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 32px;
}
.star-empty {
  background: url('../img/icon-star-outline.svg') no-repeat center;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.star-half {
  background: url('../img/icon-star-half.svg') no-repeat center;
  width: 20px;
  height: 20px;
  display: inline-block;
}

.star-filled {
  background: url('../img/icon-star-filled.svg') no-repeat center;
  width: 20px;
  height: 20px;
  display: inline-block;
}

}