.rating {
  display: flex;
  gap: 4px;
}
.star {
  width: 20px;
  height: 20px;
}
.star svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: #02060a;
  stroke-width: 1.5px;
  
}
/* Повна зірка*/
.star.filled svg{
fill: #02060a;
}
.star.half svg{
  fill: url(#half-gradient);    
}
.star svg use[href*="icon-star-outline"] {
  fill: #fff; 
}

/* Гумова для Mobile devices */
@media screen and (min-width: 320px) {
.testimonial-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-bottom: 40px;
}
.testimonial-head {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #02060a;
  margin: 0;
}
.desktop-br {
  display: none;
}
.testimonial-text {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1.5;
  text-align: center;
  color: #02060a;
  margin: 0;
}
.testimonial-card{
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-bottom: 40px;
}
.testimonial-quote{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #02060a;
  margin: 0;
}
.testimonial-author{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  color: #02060a;
  margin: 0px;
}
.swiper-controls{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  margin-right: 0;  
}
.swiper-controls .swiper-pagination {
  position: static; 
  text-align: left;
  width: auto !important;}

/* Блок для кнопок справа */
.swiper-navigation-buttons {
  display: flex;
  gap: 16px;
  position: relative;
  min-width: 80px;
}

/* Скидання стандартних стилів стрілок */
.swiper-controls .swiper-button-next,
.swiper-controls .swiper-button-prev {
  position: static; 
  margin: 0;
}
.swiper-button-next,
.swiper-button-prev{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border: 1px solid #c3b49d;;
  border-radius: 8px;
  padding: 12px;
  width: 48px;
  height: 48px;
  background-color: #eee9e3;
  transition: color 0.3s ease, opacity 0.3s ease, transform 0.2s ease;
  outline: none;
  cursor: pointer;
}
.swiper-button-next :hover,
.swiper-button-next :focus,
.swiper-button-pre :hover,
.swiper-button-prev :focus{
  border: 1px solid rgba(2, 6, 10, 0.6);
  cursor: pointer;
}
.swiper-button-next:active,
.swiper-button-prev:active {
  border: 1px solid rgba(2, 6, 10, 0.6);
  box-shadow: inset 0 4px 6px -2px rgba(0, 0, 0, 0.03), 
              inset 0 12px 16px -4px rgba(0, 0, 0, 0.08);
  background-color: #eee9e3;
  cursor: pointer;
}
.icon-back,
.icon-forward{
    width: 24px;             
    height: 24px;            
    stroke: #02060a;
    stroke-width: 2px;
    transform-origin: center;
    fill: none;      
    pointer-events: none;
}
.swiper-pagination{
  display: flex;
  flex-direction: row;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #d1d5db;
  fill: none;
  opacity: 1;
  transition: transform 0.3s ease, 
              background-color 0.3s ease;
}
.swiper-pagination-bullet-active {
  background-color: #02060a;
  transform: scale(1.5);
}
}
/* Адаптивна для Mobile devices */
@media screen and (min-width: 375px) {
  .container {
    max-width: 375px; /* Фіксуємо для адаптивності */
  }
}

/* Styles for Tablet devices */
@media screen and (min-width: 704px) {
  .container {
    max-width: 704px;
  	padding: 0 32px;
  }
.testimonial-title,
.swiper{
  width: 100%;
}
.desktop-br {
  display: none;
}
}

/* Styles for Desktop devices */
@media screen and (min-width: 1312px){
  .container {
    max-width: 1312px;
  	padding: 0 80px;
  }
.testimonial-title,
.swiper{
  width: 100%;
  }
.testimonial-head{
  line-height: 1.2;
  font-size: 48px;
}
.testimonial-text{
  font-size: 18px;
}
.desktop-br {
  line-height: 1.2;
  display: inline;
  }
  }




