.testimonial__title{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
}

.testimonial__head{
font-weight: 700;
font-size: 36px;
line-height: 1.2;
letter-spacing: -0.01em;
text-align: center;
color: #02060a;
}

.testimonial__text{
font-family: "IBM Plex Sans", sans-serif;
font-weight: 700;
font-size: 36px;
line-height: 1.5;
letter-spacing: -0.01em;
text-align: center;
color: #02060a;
}

.testimonial__star{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 32px;
}

.testimonial__stars-list{
display: flex;
flex-wrap: nowrap;
justify-content: flex-start;
width:116px; 
height:18.89px;
}

.stars{
width:20px;
height:19px;
}
/* .star.filled {
    
} */

.testimonial__quote{
font-family: "IBM Plex Sans", sans-serif;
font-weight: 400;
font-size: 18px; 
line-height: 1.5;
color: #02060a;
}

.testimonial__author{
display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 0px;
width: 118px;
height: 21px
}


