.rating {
  display: flex;
  gap: 4px;
}

.star {
  width: 20px;
  height: 20px;
}

.star svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: #02060a;     /* контур */
  stroke-width: 1.5px;
}

/* Повна зірка */
.star.filled svg {
  fill: #02060a;       /* чорна */
}

/* Половинка та порожня зірка */
.star.half svg,
.star.empty svg {
  fill: #fff;          /* біла */
}

/* Адаптив для мобільних */
@media screen and (max-width: 374px) {
  .testimonial-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 40px;
  }
  .testimonial-head {
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: #02060a;
    margin: 0;
  }
  .testimonial-text {
    font-family: "IBM Plex Sans", sans-serif;
    line-height: 1.5;
    text-align: center;
    color: #02060a;
    margin: 0;
  }
  .testimonial-card{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }
  .testimonial-quote{
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #02060a;
  margin: 0;
  }
  .testimonial-author{
display: flex;
align-items: flex-start;
justify-content: flex-start;
flex-direction: column;
gap: 0px;
font-family: "IBM Plex Sans", sans-serif;
font-weight: 600;
font-size: 14px;
line-height: 1.5;
color: #02060a;
  }
}